@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500;600;700;800&display=swap"); */

:root {
  --font-inter: "Inter", system-ui, sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #070b14;
  color: #f0f4ff;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #070b14;
}
::-webkit-scrollbar-thumb {
  background: #1a2540;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00d4ff33;
}

/* Selection */
::selection {
  background: #00d4ff22;
  color: #00d4ff;
}
